body {
  text-align: center;
  margin: auto;
  background: #fff;
  color: #212121;
  max-width: 800px;
  height: fit-content;
  height: -moz-fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: -15%;
  bottom: 0;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 30px;
}
.cd {
  display: inline-block;
  width: 22%;
}
.cd p {
  margin: 12px 0;
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: center;
  color: #00796b;
}
p#date,
p#timezone {
  margin: 20px;
}
#days, #hours, #minutes, #seconds {
  font-size: 600%;
}
#daysLabel, #hoursLabel, #minutesLabel, #secondsLabel {
  font-size: 130%;
}
#content {
  font-size: 130%;
}

h2 {
  margin: 0;
  padding-top: 0;
  font-size: 200%;
}

@media only screen and (max-width: 842px) {
  body {
    margin: auto 15px;
  }
  #days, #hours, #minutes, #seconds {
    font-size: 400%;
  }

  #daysLabel, #hoursLabel, #minutesLabel, #secondsLabel {
    font-size: 110%;
  }

  h2{
    font-size: 150%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: auto 15px;
  }

  h2{
    font-size: 130%;
  }

  #days, #hours, #minutes, #seconds {
    font-size: 300%;
  }

  #daysLabel, #hoursLabel, #minutesLabel, #secondsLabel, #date, #timezone{
    font-size: 70%;
  }
}

@media only screen and (max-width: 500px) {
  body {
    margin: 15px;
    position: static;
  }
  .cd {
    display: inline-block;
    width: 45%;
  }

  h2{
    font-size: 110%;
  }

  #days, #hours, #minutes, #seconds {
    font-size: 380%;
  }

  #daysLabel, #hoursLabel, #minutesLabel, #secondsLabel{
    font-size: 90%;
  }

  #date, #timezone{
    font-size: 80%;
  }
}
@media only screen and (max-height: 690px) {
  body {
    margin-top: 25px;
    margin-bottom: 25px;
    position: static;
  }
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
  position: relative;
  left: 10px;
  bottom: 4px;
  padding: 4px;
  font-size: 21px;
  background: #fff;
  color: #212121;
  transition: 0.2s ease-out border-bottom;
  border: none;
  border-bottom: 2px solid #000000;
  max-width: 100%;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  background: #fff;
  border-bottom: 2px solid #26a69a;
  outline: none;
}
input#utcInput {
  width: 75px;
}
input[type="button"] {
  margin: 4px 0;
  font-size: 16px;
  border-radius: 7px;
  background: #00796b;
  color: #ffffff;
  border: none;
  padding: 10px 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s ease-out box-shadow;
  cursor: pointer;
  outline: none;
}
input[type="button"]:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

a.home {
  position: fixed;
  bottom: 12px;
  left: 12px;
  background: #00796b;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  text-decoration: none;
  color: #fff;
  line-height: 48px;
  text-align: center;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s ease-out box-shadow;
}

a.home:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Tooltip container */
.tooltip {
  margin-left: 10px;
  color: #000;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 14px;
  width: 260px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 1px 5px 1px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -130px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
